# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración del administrador inicial
ADMIN_EMAIL=admin@cemac.com
ADMIN_PASSWORD=admin123456
ADMIN_FIRST_NAME=Administrador
ADMIN_LAST_NAME=CEMAC

FIREBASE_DATABASE_URL=https://{tubd}.firebaseio.com


# Configuración de logs
LOG_LEVEL=info


# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME=fgfsgsf
CLOUDINARY_API_KEY=rgsrdffdgf
CLOUDINARY_API_SECRET=yetrjedryt